.bg-img {
    background: url(../img/bg_lydo.jpg) no-repeat top center;
    background-size: 100%;
}

.rounded-4 {
    border-radius: 1rem !important;
}

.rounded-5 {
    border-radius: 0.55rem !important;
}

.rounded-top-lg {
    border-top-right-radius: 1rem !important;
    border-top-left-radius: 1rem !important;
}

.shadow-custom {
    box-shadow: 7px 8px 10px -13px;
}

.text-blue {
    color: #1b78df !important;
}

.text-stoke-white {
    font-size: 2.5rem !important;
    color: #1b78df;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1b78df;
}
.text-stoke-danger {
    color: rgb(8, 17, 95);
    font-size: 3rem !important;
    -webkit-text-fill-color: rgb(255, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(8, 17, 95);
}

.bg-blue {
    background-color: #eff7ff !important;
}

.w-80 {
    width: 80% !important;
}

.fs-custom {
    font-size: 1.3rem;
    font-weight: bold;
}

.banner {
    position: relative;
}

.navbar {
    position: absolute;
}
.subnavbar{
    transform: translateY(-50px);
}

.banner-description {
    position: absolute;
    top: 36%;
    left: 20%;
    font-weight: bold;
    -webkit-user-select: none;
    user-select: none;
}
.btnAnimation{
    animation: mymove 1s ease-in-out infinite ;
}

@keyframes mymove {
    0%, 100% {transform: translateY(-5px);}
    50% {transform: translateY(+5px);}
  }